---
services:
  # https://github.com/11notes/docker-socket-proxy
  dockerproxy:
    image: ${SOCKET_PROXY_IMAGE:?socket proxy image required}:${SOCKET_PROXY_TAG:-latest}
    read_only: true
    # Note: When using Docker Desktop on macOS, the mounted files are owned by root:root, so you need to run the container as root :(
    # user: "${PUID:?user id required}:${PGID:?group id required}" # make sure to use the same PUID/PGID as the owner of your docker socket!
    environment:
      TZ: ${TZ:?timezone required}
      SOCKET_PROXY_DOCKER_SOCKET: /run/docker.sock # path to the actual docker socket
      SOCKET_PROXY_VOLUME: /run/docker-proxy # path to the docker volume used to expose the prox socket
      SOCKET_PROXY_UID: "${PUID:?user id required}" # the UID used to run the proxy parts
      SOCKET_PROXY_GID: "${PGID:?group id required}" # the GID used to run the proxy parts
    volumes:
      - ~/.docker/run/docker.sock:/run/docker.sock:ro # mount host docker socket, the :ro does not mean read-only for the socket, just for the actual file
      - docker-socket-proxy:/run/docker-proxy # this socket is run as defined by env variables
    restart: ${RESTART}

volumes:
  docker-socket-proxy:
