# get this config from mitmproxy logs or web interface http://localhost:8181/#/capture

[Interface]
PrivateKey = ...
Address = ...
DNS = ...

[Peer]
PublicKey = ...
AllowedIPs = 0.0.0.0/0
# note: the port must match the mitmproxy listen-port
Endpoint = 172.19.0.4:8880
